body {
  margin: 0;
  padding: 0;
  background-color: lightslategray;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  min-height: 500px;
  padding: 10px;
  margin-top: 50px;
}

.calculator,
.display,
button {
  border: 2px black solid;
  border-radius: 10px;
}

.calculator {
  display: flex;
  flex-direction: column;
  background-color: #212121;
  width: 380px;
  box-sizing: border-box;
  padding: 20px;
}

.display {
  font-family: 'Digital-7';
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: right;
  padding: 10px 10px;
  font-size: 50px;
  gap: 5px;
  min-height: 120px;
}

.display > div {
  min-height: 30px;
}

.previous-text, .operator-text {
    font-size: 25px;
}

.buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
}

button {
  padding: 10px;
  font-size: 30px;
  box-sizing: border-box;
}

button:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
  cursor: pointer;
}

.functions {
  grid-column: span 2;
  display: flex;
  justify-content: center;
}

.all-clear {
  background-color: #faa;
}

.delete {
  background-color: #aaf;
}

.operators {
    border-color: orange;
    background-color: slategrey;
}

#equals {
    border-color: greenyellow;
    background-color: slategrey;
}
